.cont_board_li {
  text-align: center;
  border-top: 2px solid #000;

}

.cont_board_li>div {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.cont_board_li>div.cont_attribute {
  border-bottom: 1px solid #999;
  font-weight: bold;
}

.cont_attribute>.tit_list {
  text-align: center;
}

.cont_board_li>div:last-child {
  border-bottom: 1px solid #000;
}

.cont_board_li>div>div {
  display: inline-block;
}

.wrap_num,
.wrap_writer,
.wrap_date,
.wrap_viewCount {
  width: 10%;
}

.tit_list {
  width: 60%;
  text-align: left;
}
.wrap_btnPage {
  margin: 30px 0;
  text-align: center;
  font-size: 0;
}

.wrap_btnPage>a {
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border: solid 1px #ddd;
}
.wrap_btnPage > .wrap_move{
  padding-top: 7px;
  font-size: 0.75rem;
}
.wrap_btnPage > .wrap_check{
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.wrap_btnNum{
  font-size: 0.9rem;
}