.cont_write {
  margin-bottom: 30px;
  border-top: 2px solid #000;
}

.wrap_title {
  padding: 15px;
  border-bottom: 1px dashed #ddd;
}

.wrap_writer {
  padding: 15px;
  border-bottom: 1px solid #999;
  position: relative;
}

.cont_write dl {
  display: flex
}

.cont_write dt {
  margin-right: 10px;
}

.cont_write dd {
  margin-left: 10px;
}

.cont_write dt::after {
  content: ":";
  position: absolute;
  top: 13px;
  left: 71px;
}
/* .wrap_editor{
  width: 1000px;
  resize: none;
} */
/* .wrap_writePost{
  margin: 15px 0;
  resize: none;
  width: 1000px;
  height: 400px;
  border : 1px solid gray;
} */