.box1{
  width: 13mm;
  height: 2cm;
  background-color: red;
  border: 1px solid;
  border-color: black;
}
.box2{
  width: 13mm;
  height: 2cm;
  background-color: red;
  border: 1px solid;
  border-color: black;
}
.box3{
  width: 13mm;
  height: 2cm;
  background-color: red;
  border: 1px solid;
  border-color: black;
}
.box4{
  width: 13mm;
  height: 2cm;
  background-color: red;
  border: 1px solid;
  border-color: black;
}